{
    admin 0.0.0.0:2019
    auto_https off
    debug
}

(health) {
    handle /caddy/health {
        respond "ok" 200
    }
}

:80 {
    import health

    handle /api/v1/* {
        reverse_proxy api:3000 {
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
        }
    }
}

:8080 {
    reverse_proxy grafana:3000
}